
# Создано https://www.toptal.com/developers/gitignore/api/macos
# Отредактируйте на https://www.toptal.com/developers/gitignore?templates=macos

### macOS ###
# Общее
.DS_Store
.AppleDouble
.LSOverride

# Значок должен заканчиваться двумя \ r
Икона

# Миниатюры
._ *

# Файлы, которые могут появиться в корне тома
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
. Мусор
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Каталоги, потенциально созданные на удаленном ресурсе AFP
.AppleDB
.AppleDesktop
Сетевая корзина
Временные предметы
.apdisk

# Конец https://www.toptal.com/developers/gitignore/api/macos
