@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Lobster&family=Marck+Script&family=Montserrat&display=swap");
* {
  padding: 0px;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.site_3 {
  border-bottom: 5px dashed #559;
}
.site_3:hover {
  border-bottom: 5px solid #559;
}

.header {
  margin: 10px 0 0 10px;
  border: 1px solid #4999;
}

h1 {
  font-style: italic;
  font-size: 25px;
}

.block_list {
  font-family: "Marck Script";
  background-color: #991;
  width: 72.9166666667%;
}

.list {
  font-size: 25px;
  position: relative;
  color: blue;
  font-size: 16px;
}
.list li {
  position: relative;
  margin-left: 30px;
}
.list li:before {
  content: "   ";
  background-image: url("../../img/list.png");
  background-position: 0px 6px;
  position: relative;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 15px;
}

.site {
  color: red;
  text-decoration: underline;
}
.block_list .site {
  color: blue;
}
.block_list .site:hover {
  color: #4999;
}
.site:hover {
  text-transform: uppercase;
  color: #8450;
}

.site_3 {
  font-size: 25px;
}

.about__body {
  max-width: 830px;
  margin: 0 auto;
}
.about__header {
  margin: 0 0 65px 0;
}
.about__title {
  margin: 0 0 30px o;
}
.about__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.about__column {
  width: 230px;
  border: 1px solid black;
}

.title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800px;
  letter-spacing: 9px;
  position: relative;
  text-align: center;
}
.title:after {
  content: " ";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 2px;
  left: 50%;
  background-color: green;
  margin: 0 0 0 -25px;
}

.item-about__icon {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid green;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}
.item-about__title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.item-about__text {
  width: 230px;
  text-align: center;
}